html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #FF9F1E;
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  border-radius: 100%;
  position: relative;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  content: attr(data-pct)"%";
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
}


/* Make things perty */
body { font-family: 'Roboto', Helvetica, Arial, sans-serif;  text-align: center;}
/*@import url(https://fonts.googleapis.com/css?family=Montserrat:400);*/
@import url(https://fonts.googleapis.com/css?family=Cairo:400,700);
body {
  	/*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
	font: 16px/1.4em "Cairo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.chart-text {
  /*font: 16px/1.4em "Montserrat", Arial, sans-serif;*/
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}
.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.chart-label {
  font-size: 0.3em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}
figure {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  figure {
    flex-direction: row;
  }
}
.figure-content,
.figure-key {
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
  align-self: center;
}
.figure-content svg {
  height: auto;
}
.figure-key {
  min-width: calc(8 / 12);
}
.figure-key [class*="shape-"] {
  margin-right: 6px;
}
.figure-key-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.figure-key-list li {
  margin: 0 0 8px;
  padding: 0;
}
.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
.shape-fuschia {
  background-color: #ce4b99;
}
.shape-lemon-lime {
  background-color: #b1c94e;
}
.shape-blue {
  background-color: #377bbc;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.avatar{
  border-radius: 50%;
}
. fab  {
  margin: 0px;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
};



/*EMPTY STATUS STYLES*/

.emptyStatus{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 10vh 10vw;
}
.emptyStatusIcon{
	width: 30vw;
	height: auto;
	min-width: 100px;
	max-width: 200px;
	animation: popEmpty 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530)forwards;
}

@media (max-width: 600px) {
	.emptyStatusIcon{
		width: 60vw;
		height: auto;
	}
}

.emptyStatusTitle{
	font-family: Changa,cursive;
	font-weight: 500;
	font-size: 20pt;
	color: #b4b4b4;
	margin: 24px 0 16px;
	opacity: 0;
	animation: slideEmpty 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}
.emptyStatusDesciption{
	font-family: Roboto, sans-serif;
	font-weight: 200;
	font-size: 14pt;
	line-height: 20pt;
	color: #727272;
	margin-bottom:16px;
	opacity: 0;
	animation: slideEmpty 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}

.SVGplus{
	transform-origin: center;
	transform: translateX(0%) translateY(0%);
	animation: plusFloat 6s linear infinite;
}

@keyframes popEmpty {
	0%{opacity: 0; transform: scale(0.8) translateY(20%);}
	100%{opacity: 1; transform: scale(1) translateY(0);}
}

@keyframes slideEmpty {
	0%{opacity: 0; transform: translateY(30px);}
	100%{opacity: 1; transform: translateY(0);}
}

@keyframes plusFloat {
	0%{transform: translateY(0%);}
	50%{transform: translateY(20px);}
	100%{transform: translateY(0%);}
}


/*======//////////// TRANSITION BETWWEN VIEWS ////////////=======*/

/*====== Transition if the new location is in a highter lvl =======*/

.fadeHightlvl-appear {
  opacity: 0.01;
	transform: translateY(5%) scale(1.1);
}

.fadeHightlvl-appear.fadeHightlvl-appear-active {
  opacity: 1;
	transform: translateY(0) scale(1);
  transition: all .3s ease-out;
}

/*.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}*/

.fadeHightlvl-leave {
  opacity: 1;
	transform: translateY(0) scale(1);
}

.fadeHightlvl-leave.fadeHightlvl-leave-active {
  opacity: 0.01;
	transform: translateY(5%) scale(1.1);
  transition: all .3s ease-out;
}



/*====== Transition if the new location is in the same lvl =======*/

.fadeSamelvlToLeft-appear {
  opacity: 0.01;
	transform: translateX(-50%);
}

.fadeSamelvlToLeft-appear.fadeSamelvlToLeft-appear-active {
  opacity: 1;
	transform: translateY(0);
  transition: all .3s ease-out;
}

.fadeSamelvlToLeft-leave {
  opacity: 1;
	transform: translateX(0);
}

.fadeSamelvlToLeft-leave.fadeSamelvlToLeft-leave-active {
  opacity: 0.01;
	transform: translateY(-50%);
  transition: all .3s ease-out;
}
/*==========*/

.fadeSamelvlToRight-appear {
  opacity: 0.01;
	transform: translateX(50%);
}

.fadeSamelvlToRight-appear.fadeSamelvlToRight-appear-active {
  opacity: 1;
	transform: translateY(0);
  transition: all .3s ease-out;
}

.fadeSamelvlToRight-leave {
  opacity: 1;
	transform: translateX(0);
}

.fadeSamelvlToRight-leave.fadeSamelvlToRight-leave-active {
  opacity: 0.01;
	transform: translateY(50%);
  transition: all .3s ease-out;
}

/*======Transition if the new location is in a low lvl=======*/

.fadeLowlvl-appear {
  opacity: 0.01;
	transform: scale(0.9);
}

.fadeLowlvl-appear.fadeLowlvl-appear-active {
  opacity: 1;
	transform: scale(1);
  transition: all .3s ease-out;
}

.fadeLowlvl-leave {
  opacity: 1;
	transform: scale(1);
}

.fadeLowlvl-leave.fadeLowlvl-leave-active {
  opacity: 0.01;
	transform: scale(0.9);
  transition: all .3s ease-out;
}



/*======//////////// NEW ITEMS ANIMATION ////////////=======*/

.fadeItem-enter {
  opacity: 0.01;
	transform: scale(3);
}
.fadeItem-enter-active {
  opacity: 1;
	transform: scale(0);
  transition: all 400ms ease-in;
}
.fadeItem-exit {
  opacity: 1;
	transform: scale(0);
}
.fadeItem-exit-active {
  opacity: 0.01;
	transform: scale(3);
  transition: all 400ms ease-in;
}
