/*bold strokes*/
.cls-1 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-opacity:0.8;
  animation: pathDraw 10s linear infinite 4s;
}

/*medium strokes*/
.cls-3 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-opacity:0.8;
  animation: pathDraw 10s ease-in infinite 3s;
}

/*regular strokes*/
.cls-4 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-opacity:0.8;
  animation: pathDraw 10s ease-out infinite 2s;
}

/*lightest strokes*/
.cls-2 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  stroke-opacity:0.8;
  animation: pathDraw 10s linear infinite 1s;
}

.circles{
  fill-opacity:0;
  animation: expandCircles 10s ease-out forwards 2s;
}

@keyframes pathDraw{
  0%{stroke-opacity:0.00001; stroke-dashoffset: 50;}
  50%{stroke-opacity:0.8; stroke-dashoffset: 0;}
}

@keyframes expandCircles{
  0%{fill-opacity:0;}
  100%{fill-opacity:1;}
}



.MuiTypography-display2-4 {
  opacity:0;
  animation: movForm 0.7s cubic-bezier(.17,.67,.46,1) forwards 1s;
}

.MuiTypography-headline-6 {
  opacity:0;
  animation: movForm 0.7s cubic-bezier(.17,.67,.46,1) forwards 1.2s;
}

.MuiFormControl-root-29{
  opacity:0;
  animation: movForm 0.8s cubic-bezier(0, 0.1, 0, 1.01) forwards 1.4s;
}

button{
  opacity:0;
  animation: movForm 0.8s cubic-bezier(0, 0.1, 0, 1.01) forwards 1.6s;
}

@keyframes movForm{
  0%{opacity:0; transform:translateY(-2vh) scale(0.85);}
  100%{opacity:1; transform:translateY(0) scale(1);}
}
